<form
    id="search"
    method="{{ method or 'POST' }}"
    action="{{ url_for('search') }}"
    role="search"
>
    <div id="search_header">
        <a
            id="search_logo"
            href="{{ url_for('index') }}"
            tabindex="0"
            title="{{ _('Display the front page') }}"
        >
            <span hidden>MOA</span>
            <span>{% include 'simple/searxng-wordmark.min.svg' without context %}</span>
            <span class="mobile-only invisible">{% include 'simple/searxng.min.svg' without context %}</span>
        </a>
        <div id="search_view">
            <div class="search_box">
                <input
                    id="q"
                    name="q"
                    type="text"
                    placeholder="{{ _('Search for...') }}"
                    tabindex="1"
                    autocomplete="off"
                    autocapitalize="none"
                    spellcheck="false"
                    autocorrect="off"
                    dir="auto"
                    value="{{ q or '' }}"
                />
                <button
                    id="clear_search"
                    type="reset"
                    aria-label="{{ _('clear') }}"
                    class="hide_if_nojs"
                >
                    <span>{{ icon_big('close') }}</span>
                    <span class="show_if_nojs">{{ _('clear') }}</span>
                </button>
                <button
                    id="send_search"
                    type="submit"
                    aria-label="{{ _('search') }}"
                >
                    <span class="hide_if_nojs"
                        >{{ icon_big('search-outline') }}</span
                    >
                    <span class="show_if_nojs">{{ _('search') }}</span>
                </button>
            </div>
        </div>
        <nav id="links_on_top">
            {%- from 'simple/icons.html' import icon_big -%}
            {%- block linkto_about -%}
              <a href="{{ url_for('info', pagename='about') }}" class="link_on_top_about">{{ icon_big('information-circle-outline') }}<span>{{ _('About') }}</span></a>
            {%- endblock -%}
            {%- block linkto_donate -%}
              {%- if donation_url -%}
              <a href="{{ donation_url }}" class="link_on_top_donate">{{ icon_big('heart-outline') }}<span>{{ _('Donate') }}</span></a>
              {%- endif -%}
            {%- endblock -%}
            {%- block linkto_preferences -%}
              <a href="{{ url_for('preferences') }}" class="link_on_top_preferences">{{ icon_big('menu-outline') }}<span>{{ _('Preferences') }}</span></a>
            {%- endblock -%}
          </nav>
        {% set display_tooltip = true %} {% include 'simple/categories.html' %}
        <span id="filters-btn" class="filters-btn"
            >{{ icon('funnel-outline') }}</span
        >
    </div>
    <div class="search_filters invisible">
        {% include 'simple/filters/languages.html' %} {% include
        'simple/filters/time_range.html' %} {% include
        'simple/filters/safesearch.html' %}
    </div>
    <input type="hidden" name="theme" value="{{ theme }}" />
    {% if timeout_limit %}
    <input type="hidden" name="timeout_limit" value="{{ timeout_limit|e }}" />
    {% endif %}
</form>
